{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}

{% block head_title %}
  {% trans "Réinitialisation du mot de passe" %}
{% endblock head_title %}

{% block content %}
<div class="container min-vh-100 section">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card shadow-lg bg-body">
        <div class="card-body">
          <h2 class="mb-4 text-center">{% trans "Réinitialisation du mot de passe" %}</h2>
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <p class="mb-4">
            {% trans "Vous avez oublié votre mot de passe ? Entrez votre adresse email ci-dessous et nous vous enverrons un lien pour le réinitialiser." %}
          </p>
          <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ redirect_field }}
            <div class="d-grid mt-3 d-md-block text-center">
              <button type="submit" class="btn btn-primary">{% trans "Réinitialiser mon mot de passe" %}</button>
            </div>
          </form>
          <p class="mt-4 text-center fst-italic">
            {% blocktrans %}Veuillez nous contacter si vous avez des difficultés à réinitialiser votre mot de passe.{% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
