{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container min-vh-100 section">
    <div class="row section">
        <div class="col-lg-6 mx-auto">
            <div class="card bg-body">
                <div class="card-body">
                    <h2 class="mb-4 text-center">{% trans "Sign Up" %}</h2>
                    {% setvar link %}
                        <a href="{{ login_url }}">
                        {% endsetvar %}
                        {% setvar end_link %}
                        </a>
                    {% endsetvar %}
                    <!-- CLASSIC SETUP -->
                    {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid d-md-block text-center mt-3 gap-2">
                          <button type="submit" class="btn btn-primary">{% trans "Signup" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}